header{
  background-color:  var(--color-dark);
}

#leftLogo{
  position: relative;
  width: 100px;
  top: 0px;
}

#rightLogo{
  width: 90px;
  top: 0px;
}

.nav-item>.nav-link{
  color: var(--color-light) !important;
}