a{
  cursor: pointer;
}

[class^='carousel-control']{
  background-color: black;
}

.carousel{
  width: 640px;
  height: 400px;
}

img{
  background-size: cover;
  max-width: 640px;
  max-height: 400px;
}